/* additional classes */

html,body
{
    
    
}

header{
	width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	overflow-x: hidden;
}

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	
 	font-family: 'M PLUS Rounded 1c', sans-serif;
 	font-family: 'Nunito', sans-serif;
 	font-family: 'Varela Round', sans-serif;
 	font-weight: 700;
}

body{
	font-family: 'Open Sans', sans-serif;
}

b {
  color: #595d60;
}

body {
  overflow-x:hidden 
}



/* LANDING PAGE */

header.masthead {
	background: #6C9AD1; /*9e9abf 6C9AD1 83BCFF*/
}


.landing-image{
	max-height: 300px;
	max-width: 300px;
}

.landing-link{
	color: #fff;
	font-family: 'Varela Round', sans-serif;
}

.landing-link:hover{
	color: #fff;
}


#mainNav .navbar-brand {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  color: #6C9AD1;
  cursor: default;
}

#mainNav .navbar-brand:hover {
  color: #6C9AD1;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #FFF !important;
}

#mainNav .navbar-nav .nav-item .nav-link, #mainNav .navbar-nav .nav-item {
  font-family: 'Varela Round', sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
}


#mainNav.navbar-scrolled .navbar-brand {
	display: block;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#mainNav.navbar-scrolled .navbar-brand:hover {
    color: rgba(255, 255, 255, 1);
}


	#mainNav.navbar-scrolled {
		background-color: #83BCFF; /*98C1D9  69D6F5 83BCFF*/
	}
	
	#mainNav .navbar-nav .nav-item {
    	color: rgba(255, 255, 255, 0.7);
    }
	
	#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link,#mainNav.navbar-scrolled .navbar-nav .nav-item {
   		color: rgba(255, 255, 255, 0.8);
	}
	



#mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #FFF;
}


@media (max-width: 577px){
	.navbar-expand-lg .navbar-nav {
		flex-direction: column;
	}

	#mainNav .navbar-nav .nav-item  {
		margin-left: auto;
	
	}
}



@media (max-width: 991px){
	#mainNav.navbar {
		
	}	
}




/* PROJECT SECTION */

@media (max-width: 576px) {
	.project-capsule {
		margin-left: 10px;
		margin-right: 10px;
	}
}


.container{
	padding-left:0px;
	padding-right:0px;
}

.mt-7{
	margin-top: 8em;
}

.mt-responsive{
	margin-top: 4em;
}

	
@media (min-width: 992px){
	.mt-responsive{
		margin-top: 10em;
	}
}

.pt-responsive{
	padding-top: 4em;
}
	
@media (min-width: 992px){
	.pt-responsive{
		padding-top: 10em;
	}
}

.p-responsive{
	padding: 3rem;
}

@media (max-width: 576px){
	.p-responsive{
		padding: 2rem 1rem 1rem 1rem;
	}
}


.page-section{
	background: rgba(58, 59, 69, 0.15);
	padding: 0;
}

.page-section-first {
	padding: 8rem 0rem 10rem 0rem;
}

.page-section-slim {
	padding: 3rem 0rem 4rem 0rem;
}

.nav-projects{
	color: rgba(255, 255, 255, 0.75);
}


.project-capsule{
  	/*box-shadow: 0 0.15rem 5.75rem 0 rgba(58, 59, 69, 0.15);*/
  	border: 0px solid #e3e6f0;
    border-radius: 0.35rem;
    background: #fff;
}

.round-edges-right, .round-edges-left{
		border-radius: 0px 0px 5px 5px;
}


@media (min-width: 992px) {
  	.round-edges-right{
		border-radius: 0px 5px 5px 0px;
	}

	.round-edges-left{
		border-radius: 5px 0px 0px 5px;
	}
}



.parent-centerh { padding: 2% 0; }
.child-centerh  { padding: 4% 0;}


.outer-div{
  display: table;
  height: 100%;
}
.inner-div{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}



.my-text-grey {
  color: #606060 !important;
}


.icon-fontsize-large {
	font-size: 1.2rem;
	width: 20px;
	height: 20px;
}





/* CAROUSEL */

.carousel-control-container{

	position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;   
    
}

.carousel-control-next-icon:after
{
  font-size: 2em;
  color: #ccc;
}

.carousel-control-prev-icon:after {
  font-size: 2em;
  color: #ccc;
}


.carousel-indicators{
	margin: auto;
	bottom: 9px;
	pointer-events: none;
}

.carousel-indicators li {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 3px;
    margin-bottom: 0px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: #EEEEEE; 
    border-radius: 5px; 
    margin-top: 10px;
}
.carousel-indicators .active {
    background-color: #fff;
}

.arrow-link{
	color: #fff;
}

.arrow-link:hover{
	color: #fff;
}


/* FOOTER */

.footer{
	background: rgba(58, 59, 69, 0.15);
	color: #bbb;
}



/* BADGES */

.badge-home1{
	color: #fff;
  	background-color: #FE7C73; /* RED -> alts: FE5F55 FE7C73*/
}

.badge-home2{
	color: #fff;
  	background-color: #94C595; /* GREEN -> alts: 49A876 94C595*/
}

.badge-home3{
	color: #fff;
  	background-color: #6BA9C5; /* BLUE -> alts: 3489B0 6BA9C5*/
}

.badge-home4{
	color: #fff;
  	background-color: #FAC05E; /* YELLOW */
}

.badge-home5{
	color: #fff;
  	background-color: #F79D84; /* PEACH */
}

.badge-home6{
	color: #fff;
  	background-color: #B97F8C; /* MAROON alts: AA6373 B97F8C*/
}

.badge-home7{
	color: #fff;
  	background-color: #AA98BB; /* PURPLE 73648A 9882AC AA98BB*/
}


/* OTHER COLORS: ECCBD9 9FB8AD */







/* ENVIROLOGGER */

header.masthead-project {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  /*background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 68, 0.8) 100%), url("../img/bg-masthead.jpg");*/
  background: linear-gradient(to bottom, rgba(66, 77, 92, 0.5) 0%, rgba(66, 77, 92, 0.5) 100%), url("../img/envirologger_project/envirologger_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead-project h1 {
  font-size: 2.25rem;
}

@media (min-width: 992px) {
  header.masthead-project {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  header.masthead-project p {
    font-size: 1.15rem;
  }
  header.masthead-project h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead-project h1 {
    font-size: 3.5rem;
  }
}


hr.divider-left {
  border-width: 0.1rem;
  border-color: #4990aa;
  margin-left:0
}

.hover-white:hover {
  color: #ffffff;
}


.image-size-med {
	max-height: 25em;
	height: 70%;
	width: auto;
}

.image-container-center{
	width: 100%;
	margin: auto;
}

.container-center-h{
	height: 100%;
	margin: auto;
}
